.header {
  @include flexbox-center;
  position: relative;
  z-index: 5;

  &--with-box-shadow {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
  }

  &--menu-page {
    position: absolute;
    width: 100%;
    @include flexbox-center;
    background-color: white;
  }
}
