.list-items-section {
  padding: 30px 15px;

  &--menu-page-version {
    padding: 25px 0;
  }

  &--background-color {
    background-color: $color-quaternary;
  }

  &__title {
    @include titles;
    margin-bottom: 15px;

    &--light {
      @include light-font-text;
      position: relative;
      &:after {
        content: "";

        width: 48px;
        position: absolute;
        bottom: -10px;
        left: 0;
        border: solid 2px $color-tertiary;
      }
    }
  }
}

.list-items-wrapper {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0px 50px;

  &--menu-page-version {
    margin: 0;
  }
}
