.short-presentation-section {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	height: 100vh;
	max-height: 375px;
	text-align: center;

	&__location {
		flex: 1;
		background-color: darken($color-quaternary, 5%);
		text-align: center;
		padding: 20px;
		font-weight: 500;
		color: rgb(66, 66, 66);
		& i {
			margin-right: 10px;
		}
	}

	&__text {
		background-color: $color-quaternary;

		@include flexbox-center;
		flex-direction: column;

		flex: 20;
		padding: 15px;
	}

	&__title {
		@include titles;
	}

	&__description {
		margin-top: 15px;

		@include light-font-text;
	}
}
