.animated-heart {
	position: relative;
	width: 50px;
	height: 50px;
	overflow: hidden;

	&__static-heart {
		color: black;
		transition-duration: 0.75s;
		font-size: 25px;
		position: relative;
		overflow: hidden;
		z-index: 5;

		&:hover {
			color: transparent;
			transition-duration: 0.75s;

			& + .animated-heart__bg-color-animation {
				transform: translateY(-100%);
				transition: 0.75s;
			}
		}
	}

	&__gradient-stop-1 {
		stop-color: $color-primary;
	}

	&__gradient-stop-2 {
		stop-color: $color-secondary;
	}

	&:hover &__translating-heart {
		transition: 0.5s;
		transition-delay: 0.5s;
		transform: translateY(-210%);

		& path {
			stroke: transparent;
			transition: 0.5s;
		}
	}

	&__translating-heart {
		@extend .animated-heart__static-heart;
		overflow: visible;
		transform: translateY(-110%);
		background-color: white;
		& path {
			fill: transparent;
			stroke: black;
			transition: 0.5s;
			transition-delay: 0.5s;
		}

		&:hover path {
			stroke: transparent;
			transition: 0.5s;
		}

		&--grey {
			background-color: #f2f2f2;
		}
	}

	&--menu-page {
		margin-right: 6%;
	}
}
