.call-to-action-btn {
  @include btn-call-to-action;
  margin-top: 30px;
  transition: 2s;
  display: block;

  &:hover {
    opacity: 0.8;
    box-shadow: 9px 12px 15px -5px darken(#c9c9c9, 10);
    transition: 0.75s;
  }

  &--menu-page {
    padding-right: 40px;
    padding-left: 40px;
  }
}
