.dish-item {
  display: flex;
  justify-content: space-between;
  box-shadow: $box-shadow-regular;
  background-color: white;
  padding: 15px 0px 15px 10px;
  margin: 15px 0 0 0;
  border-radius: 15px;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  cursor: pointer;
  animation: appears-gradually 0.75s ease-in-out forwards;
  opacity: 0;
  overflow: hidden;

  // give each dish-item a different delay
  $i: 4;
  @for $i from 1 through $i {
    &:nth-child(0n + #{$i}) {
      animation-delay: $i * 0.1s;
    }
  }

  &__cool-animation-wrapper {
    display: flex;
    align-items: flex-end;
    background-color: white;
    transition: 0.5s;
    height: 100%;
    position: relative;
  }

  &:hover &__info {
    width: calc(100% - 130px);
    transition: 0.5s;
  }

  &__info {
    width: 80%;
    transition: 0.5s;
  }

  &__name {
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__description {
    margin: 5px 0 0 0;
    @include light-font-text;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover &__price {
    position: relative;
    right: 100px;

    transition: 0.5s;
  }

  &__price {
    position: relative;
    right: 20px;
    transition: 0.5s;
  }

  &:hover &__checked-logo-wrapper {
    width: 75px;
    transition: 0.5s;
  }

  &__checked-logo-wrapper {
    overflow: hidden;
    width: 0px;
    height: 79px;
    background-color: $color-tertiary;
    color: white;
    transition: 0.5s;
    @include flexbox-center;
    font-size: 25px;
    position: absolute;
    top: -15px;
    right: 0px;
    border-radius: 0 15px 15px 0;
  }

  &:hover &__logo {
    transform: rotate(360deg);
    transition: 0.5s;
  }

  &__logo {
    transform: rotate(90deg);
    transition-delay: 0.5s;
  }
}
