.loading-screen {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color: grey, $alpha: 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	animation: disappear 0s 3s forwards;

	&__logo {
		display: inline-block;
		width: 30px;
		height: 30px;
		position: relative;
		border: 4px solid white;
		animation: logo 2s infinite ease forwards;
	}
	&__inner-logo {
		vertical-align: top;
		display: inline-block;
		width: 100%;
		background: $color-gradient-primary-secondary;
		animation: inner-logo 2s infinite ease-in forwards;
	}
}

@keyframes disappear {
	to {
		visibility: hidden;
		width: 0;
		height: 0;
	}
}
@keyframes logo {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(180deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes inner-logo {
	0% {
		height: 0%;
	}
	25% {
		height: 0%;
	}
	50% {
		height: 100%;
	}
	75% {
		height: 100%;
	}
	100% {
		height: 0%;
		display: none;
	}
}
