html {
  scroll-behavior: smooth;
}

.body {
  position: relative;
  scroll-behavior: smooth;
}

.main {
  max-width: 1200px;
  margin: auto;

  &--menu-page {
    max-width: 900px;
  }
}

a {
  text-decoration: none;
  color: initial;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.logo {
  @include logo-MenuName-fontFamily;
  margin-bottom: 10px;

  &--margin0 {
    margin: 0;
  }
}

.center-my-btn {
  @include flexbox-center;
}
