@mixin flexbox-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin logo-MenuName-fontFamily {
  font-family: "Shrikhand", cursive;
}

@mixin titles {
  font-size: 30px;
  font-weight: 600;
}

@mixin btn {
  border: none transparent;
  font-weight: 500;
  cursor: pointer;
}

@mixin btn-call-to-action {
  @include btn;
  border-radius: 50px;
  color: white;
  padding: 15px 20px;
  margin-bottom: 20px;
  background: $color-gradient-primary-secondary;

  box-shadow: $box-shadow-medium;
}

@mixin light-font-text {
  font-size: 20px;
  font-weight: 300;
  color: lighten($color: #000000, $amount: 30%);
}

@mixin center-content {
  max-width: 1200px;
  margin: auto;
}
