$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-quaternary: #f2f2f2;

$box-shadow-regular: 0px 0px 15px 0px #c9c9c9;
$box-shadow-medium: 9px 12px 15px -5px #c9c9c9;
$color-gradient-primary-secondary: linear-gradient(350deg, $color-primary 0%, $color-secondary 100%);
